Source: rocm-rocminfo
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkg-config,
 rocm-core,
 rocm-env,
 rocm-cmake,
 rocm-hsa-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/rocminfo
Vcs-Browser: https://github.com/revyos-rocm/rocm-rocminfo
Vcs-Git: https://github.com/revyos-rocm/rocm-rocminfo.git

Package: rocm-rocminfo
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-core,
 rocm-env,
 rocm-hsa,
Description: ROCm Application for Reporting System Info
 ROCm Application for Reporting System Info
