#!/usr/bin/make -f

export DH_VERBOSE = 1

PKG_NAME=rocm-rocminfo

ROCM_VERSION=$(shell cat /opt/REVYOS_ROCM_VERSION)
ROCM_PATH=/opt/rocm-$(ROCM_VERSION)

MAKEOPTS="-j$$(($$(nproc) / 2))"

TOP_DIR := $(shell pwd)
SRC_PATH := $(TOP_DIR)
BUILD_PATH := $(TOP_DIR)/build-rocm
DEB_INST_DIR := $(TOP_DIR)/debian/$(PKG_NAME)

REVYOS_ROCM_CMAKE_PARAMS := -S $(SRC_PATH) -B $(BUILD_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_INSTALL_PREFIX=$(ROCM_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_C_COMPILER=$(ROCM_PATH)/bin/clang
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_CXX_COMPILER=$(ROCM_PATH)/bin/clang++
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_BUILD_TYPE=Release
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_VERBOSE_MAKEFILE=TRUE
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_PREFIX_PATH="$(ROCM_PATH);$(ROCM_PATH)/share/rocm/cmake/;$(ROCM_PATH)/share/rocmcmakebuildtools/cmake"

REVYOS_ROCM_ROCMINFO_CMAKE_PARAMS := -DBUILD_SHARED_LIBS=ON
REVYOS_ROCM_ROCMINFO_CMAKE_PARAMS += -DROCRTST_BLD_TYPE=RelWithDebInfo
REVYOS_ROCM_ROCMINFO_CMAKE_PARAMS += -DCMAKE_SKIP_BUILD_RPATH=TRUE

%:
	dh $@

override_dh_auto_configure:
	cmake $(REVYOS_ROCM_CMAKE_PARAMS) $(REVYOS_ROCM_ROCMINFO_CMAKE_PARAMS)

override_dh_auto_build:
	cmake --build $(BUILD_PATH) -- $(MAKEOPTS)

override_dh_auto_install:
	DESTDIR=$(DEB_INST_DIR)/ cmake --build $(BUILD_PATH) -- $(MAKEOPTS) install

override_dh_install:
#	sed -i "s,@ROCM_VERSION@,${ROCM_VERSION},g" debian/*.install
#	dh_install
	echo "dh_install skipped"

override_dh_dwz:
	:
